.followerItem {
  $txt-blue: #3573e2;
  $txt-black: #222222;
  $icon: #b1aed9;

  a {
    margin-right: 15px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid $txt-blue;
  }
  h3 {
    word-break: break-word;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $txt-black;
    margin-bottom: 0;
    margin-right: auto;
  }
  button {
    display: flex;
    margin-right: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: $icon;
    padding: 5px;
    transition: .3s;
    &:hover{
        color: $txt-black;
        span.icon-user-voice::before{
            color: initial;
        }
    }
  }
}
