.categoryLinkItem {
  $txt-blue: #3573e2;
  $txt-black: #222222;
  $black: #000;

  margin-bottom: 30px;
  &__img {
    width: 75px;
    height: 75px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
    a:hover img {
      filter: brightness(80%);
    }
  }
  &__desc {
    flex-grow: 1;
  }
  &__title {
    position: relative;
    h2 {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $txt-black;
      margin-bottom: 0;
      margin-right: auto;
    }
  }
  &__link {
    input {
      height: 25px;
      padding: 5px 10px;
      border-radius: 4px;
      border: 1px solid $txt-blue;
      outline: none;
      width: 80%;
      max-width: 550px;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: $txt-black;
      margin-right: auto;
    }
    button {
      outline: none;
      border: none;
      background-color: transparent;
      color: $txt-black;
      font-size: 18px;
      margin-left: 15px;
      transition: 0.3s;
      &:hover {
        color: $txt-blue;
      }
    }
  }
  &__date {
    h3 {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: $txt-black;
      margin-bottom: 0;
      span {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }
  .dropend .dropdown-toggle::after {
    display: none;
  }
  &__btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    padding: 2px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: $black !important;
    font-size: 16px !important;
    transition: 0.5s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  &__dropdown {
    position: absolute !important;
    top: 0;
    right: 0;
    &--menu {
      min-width: initial !important;
      border-radius: 0px !important;
      padding: 4px 0 !important;
      > li {
        border-radius: 0px !important;
      }
    }
    &--link {
      padding: 8px 10px !important;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: $txt-black;
      i,
      [class^="icon"] {
        color: $txt-blue;
        margin-right: 8px;
      }
    }
  }
}
