@mixin text($color, $size, $weight, $lineHeight) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
	line-height: $lineHeight;
}

.box-item {
	position: relative;
	border-radius: 3px;
	border: 1px solid #3573e2;
	background-color: #fff;
	.info__box {
		padding: 15px;
		&-client {
			margin-right: 20px;
			width: 64px;
			height: 64px;
			.avatar {
				img {
					width: 100%;
					height: 100%;
					border-radius: 30px;
					object-fit: cover;
				}
			}
		}

		&-post {
			width: 80%;
			.client-name {
				margin-bottom: 20px;
				a {
					text-decoration: none;
					@include text(#000000, 20px, 400, 18px);
					&:hover {
						color: #3573e2;
					}

					i {
						font-size: 20px;
						margin: 0 15px;
					}

					img {
						width: 24px;
						height: 24px;
						border-radius: 4px;
						margin-right: 4px;
					}
				}
			}
			.time-post {
				@include text(#000000, 16px, 400, 18px);
				margin-bottom: 0;
				margin-right: 20px;
				display: flex;
				align-items: center;
				span {
					margin-left: 8px;
				}
			}
		}
	}
	.main__content {
		&-heading {
			padding: 15px 15px;
			p {
				@include text(#000000, 20px, 400, 23px);
			}
			.content {
				padding: 8px 10px;
				border: 1px solid #3573e2;
				border-radius: 3px;
				@include text(#000000, 16px, 400, 18px);
			}
			.icon {
				span {
					font-size: 20px;
					cursor: pointer;
					&:hover {
						color: #3573e2;
					}
				}
			}
			.btn-function {
				button {
					outline: none;
					border: none;
					background: transparent;
				}
			}
		}
		&-image {
			img {
				width: 100%;
			}
		}
		&-function {
			.item {
				width: 100%;
				cursor: pointer;
				background-color: transparent;
				border-radius: 5px;
				padding: 8px 30px;
				text-align: center;
				position: relative;
				transition: all 0.25s;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;

				&.liked {
					color: red;
				}

				i {
					margin-right: 15px;
				}
				&:hover {
					background-color: rgba(127, 196, 241, 0.165);
					.fa-comment-alt-lines,
					.fa-share {
						color: #3573e2;
					}
				}
			}
			.share-button {
				z-index: 1;
				position: absolute;
				height: 150px;
				width: 150px;
				bottom: -140px;
				background: white;
				right: 30px;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

				ul {
					list-style-type: none;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: flex-start;
					margin: 0;
					li {
						cursor: pointer;
						padding-left: 15px;
						&:hover {
							color: #3573e2;
						}
					}
				}
			}
		}
	}

	.option-post {
		border: none;
		outline: none;
		background: none;
		position: absolute;
		right: 0;
		top: 0;
		margin: 15px;
	}
}
.comment__container {
	padding: 15px;
	transition: all 1s ease-out;
	.comment__box {
		padding: 0px 15px;
		&-load {
			border: none;
			outline: none;
			box-shadow: none;
			background: none;
			@include text(gray, 16px, 400, 18px);
		}
		&-item {
			margin-top: 15px;
			.avatar {
				width: 40px;
				height: 40px;
				margin-right: 20px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 30px;
					object-fit: cover;
				}
			}
			.content {
				border-radius: 10px;
				padding: 8px 15px;
				width: 100%;
				background-color: #e7edf4;
				p {
					margin: 0;
				}
			}
		}

		.react {
			padding-left: 63px;
			li {
				margin-right: 20px;
				display: inline-block;
				list-style: none;
				a {
					@include text(#000000, 12px, 400, 14px);
					text-decoration: none;
				}
			}
		}
	}

	.your-comment {
		.avatar {
			margin-right: 15px;
			img {
				border-radius: 50%;
				width: 40px;
				height: 40px;
				object-fit: cover;
			}
		}
		.input-group {
			input {
				border-radius: 10px;
				padding: 8px 15px;
				width: 100%;
				background-color: #e7edf4;
				&::placeholder {
					color: gray;
				}
			}
		}
	}
}
