@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
$white: #ffffff;
.header-forgotpass {
    $blue: #3573e2;

    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid $blue;
    top: 0;
    z-index: 1000;
    background-color: $white;
    &__menu {
        width: calc(100% - 80px);
        margin: 0 auto;

        .menu-header {
            .header__logo {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    margin-right: 40px;
                    img {
                        width: 150%;
                        min-width: 40px;
                    }
                    @media (max-width: 600px) {
                        margin-right: 30px;
                        img {
                            width: 120%;
                            min-width: 20px;
                        }
                    }
                }
                h2 {
                    font-family: Audiowide;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 60px;
                    line-height: 76px;
                    margin-bottom: 0 !important;
                    color: #2196f3;

                    @media (max-width: 1600px) {
                        font-size: 52px;
                    }

                    @media (max-width: 600px) {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }
                @media (max-width: 600px) {
                    justify-content: center;
                }
            }

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }
        }

        @media (max-width: 600px) {
            .col-2 {
                width: 100% !important;
            }
            .col-10 {
                width: 100% !important;
            }
        }
    }
    &__controls {
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: none;
        }

        .userss {
            button {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 23px;
                text-align: center;
                color: #ffffff;
                border: none;
                transition: 0.3s;
                text-transform: none;
            }
        }

        @media (max-width: 600px) {
            justify-content: center;
            margin-top: 10px;
        }
    }
}
.ForgotPass-form {
    .ForgotPass-component {
        height: calc(100vh - 71px);
        background-color: #fdfdfd;
        display: flex;
        align-items: center;

        .many-hands {
            width: 50%;
            img {
                width: 200%;
                // object-fit: cover;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .form-ForgotPass {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            h2 {
                font-family: Roboto;
                font-style: normal;
                font-weight: 900;
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                color: #3573e2;
                @media (max-width: 600px) {
                    font-size: 35px;
                    line-height: 43px;
                }
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                color: rgb(165, 159, 159);
                margin-top: 16px;

                a {
                    color: #3573e2;
                    text-decoration: none;
                }

                @media (max-width: 600px) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            form {
                margin-top: 20px;
                width: 50.42%;
                max-width: 507px;
                height: 100%;

                .form-group {
                    input {
                        background: #fdfdfd;
                        border: 2px solid #3573e2;
                        box-sizing: border-box;
                        border-radius: 15px;
                        height: 88px;
                        padding-left: 30px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 28px;
                        line-height: 33px;
                        color: #222222;
                    }
                }

                .forgot-pass {
                    margin-top: 30px;
                }

                button {
                    margin-top: 22px;
                    margin-left: auto;
                    width: 50%;
                    max-width: 253.5px;
                    height: 66px;
                    background: #3573e2;
                    border-radius: 15px;

                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    color: #ffffff;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        background-color: transparent;
                        border: 2px solid #3573e2;
                        transition: 0.3s;
                        color: #3573e2;
                    }
                }
            }

            @media (max-width: 1440px) {
                form {
                    width: 46%;
                    .form-group {
                        input {
                            height: 82px;
                            font-size: 26px;
                            line-height: 28px;
                        }
                    }
                }
            }

            @media (max-width: 1280px) {
                form {
                    width: 60%;
                }
            }

            @media (max-width: 900px) {
                justify-content: start;

                form {
                    width: 60%;

                    .form-group {
                        input {
                            padding-left: 18px;
                            font-size: 18px;
                            line-height: 20px;
                            height: 55px;
                        }
                    }

                    button {
                        margin-top: 0px;
                        font-size: 18px;
                        line-height: 20px;
                        height: 44px;
                    }
                }
            }

            @media (max-width: 768px) {
                form {
                    width: 60%;
                }
            }

            @media (max-width: 500px) {
                form {
                    width: 70%;
                }
            }
        }
    }
}
