$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;
$text-gray: #222222;

.group {
    .wrapper {
        .group__heading {
            .group__theme {
                margin-right: -40px;

                img.img__thumbail {
                    width: 100%;
                    min-height: 200px;
                    object-fit: cover;
                }
            }

            .timeline__heading {
                .box__heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title {
                        margin-top: 15px;

                        .title__heading {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 32px;
                            line-height: 37px;
                            color: $text-dark;
                            margin-bottom: 10px;
                        }

                        .item__heading {
                            .subTitle__heading {
                                font-family: "Roboto", sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 23px;
                                color: $text-gray;

                                span.icon-earth {
                                    font-size: 15px;
                                    margin-right: 10px;
                                }
                            }

                            .member__title {
                                font-family: "Roboto", sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 23px;
                                color: $text-gray;

                            }
                        }

                    }

                    .search__heading {
                        form {
                            .item__search {
                                display: flex;
                                align-items: center;

                                .input-search {
                                    margin-right: 20px;

                                    .icon__search {
                                        height: 40px;
                                        width: 40px;
                                        border: 1px solid $bg-primary;
                                        border-radius: 4px;

                                        &.btn {
                                            padding: 0;
                                            &:hover {
                                                background-color: $bg-primary;
                                                transition: all 0.25s;
                                            }
                                        }

                                    }
                                }

                                select {
                                    border: 1px solid $bg-primary;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                    height: 40px;
                                    font-family: "Roboto", sans-serif;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 23px;
                                    color: $text-dark;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}