.homeGroup {
    .wrapper {
        main {
            .list-my-group {
                margin-top: 30px;
            }
        }
        .group-sidebar-follow {
            .box__sidebar__home {
                max-width: 280px;
                margin-left: auto;
            }
        }
    }
}