.suggest-follow-sidebar {
    margin-top: 40px;
    h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
        color: #3573e2;
    }
    ul {
        padding: 0;
        .item {
            &__image {
                img {
                    border-radius: 50%;
                }
            }
        }
    }
}
