$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;

section#itemGroupComponent{
    .reset-btn {
        border: none;
        outline: none;
    }

    .box__follow {

        .title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 15px;

        }

        .card {
            background: #E7EDF4;
            border-radius: 10px;
            margin-bottom: 25px;
            max-height: 320px;
           

            .card-body {
                .card-title {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                }

                .box__title {
                    display: flex;
                    justify-content: space-between;

                    .card-subtitle {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        opacity: 0.5;
                        color: $text-dark;
                    }
                }

                .box__image_text {
                    display: flex;
                    margin: 12px 0;


                    .card-text {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        color: $text-dark;
                        opacity: 0.5;
                        margin-left: 12px;
                    }

                    .image__follow {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        margin-left: -8px;
                    }

                }
            }
        }


        .item__button {
            background-color: $bg-primary;
            width: 170px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $bg-primary;
            color: $text-white;
            padding: 0 15px;
            margin-bottom: 30px;

            &:hover {
                background-color: transparent;
                transition: 0.3s;
                color: $bg-primary;
            }

        }
    }
}