.adcatitem {
  $txt-blue: #3573e2;
  $txt-black: #222222;
  $bg-white: #f9f9f9;

  position: relative;
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  &__circle {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: circle(60% at center 0);
    background-position: center;
    background-size: cover;
    text-align: center;
    span {
      font-size: 50px;
      font-weight: 700;
      color: $bg-white;
      text-shadow: -5px 5px 5px $txt-black;
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
    h3 {
      color: $txt-blue;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    span {
      font-size: 16px;
      margin-bottom: 5px;
      color: $txt-black;
    }
    p {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
