$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;
.list-my-group {
    h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
        color: $bg-primary;
    }
}