$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;
.group {
    .wrapper {
        .group__heading {
            .group__theme {
                margin-right: -40px;

                img {
                    width: 100%;
                }
            }

            .timeline__heading {
                .box__heading {
                    .title {
                        margin-top: 15px;
                        .title__heading {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 32px;
                            line-height: 37px;
                            color: $text-dark;
                        }
                        form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

    }
}