$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;

.group-sidebar-manager {
    border-bottom: 1px solid #3574e26e;
    padding-bottom: 35px;
    margin-top: 40px;
    h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
        color: #3573e2;
    }
    ul {
        padding: 0;
    }
    .btn__join {
        .item__button {
            background-color: $bg-primary;
            width: 170px;
            height: 40px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $bg-primary;
            color: $text-white;
            padding: 0 15px;
            &:hover {
                background-color: transparent;
                transition: all 0.25s;
                color: $bg-primary;
            }
    
        }
    }
    
}
