.group-sidebar {
    border-bottom: 1px solid #3574e26e;
    padding-bottom: 35px;
    margin-top: 40px;
    h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
        color: #3573e2;
    }
    ul {
        padding: 0;
    }
    .btn-create {
        button {
            transition: all 0.25s !important;
            &:hover {
                color: #fff !important;
                background-color: #3573e2 !important;
            }
        }
    }
}
