$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;

aside#sidebarGroupLink {
    margin-top: 30px;

    .reset-btn {
        border: none;
        outline: none;
    }

    .box__sibarleft {
        .group__pin {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: $bg-primary;
        }

        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 20px;
            color: $bg-primary;
        }

        .list__item_group,
        .item__group {
            list-style: none;
            padding: 0;
            margin-bottom: 10px;

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: $text-dark;
                text-decoration: none;
                margin-left: 10px;

                &:hover {
                    color: $bg-primary;
                    transition: all 0.25s;
                }
            }
        }

        li.item__group {
            display: flex;
        }

        .item__button {
            background-color: $bg-primary;
            width: 170px;
            height: 40px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $bg-primary;
            color: $text-white;
            padding: 0 15px;
            margin-top: 10px;

            &:hover {
                background-color: transparent;
                transition: all 0.25s;
                color: $bg-primary;
            }

        }

        .border__hr {
            border: 1px solid $bg-primary;
        }

        .group__join {
            margin-top: 20px;

            .box__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}