$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;

.group-sidebar-join {
    padding-bottom: 20px;
    margin-top: 30px;
    // max-width: 280px;
    .box__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        h3 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: $bg-primary;
        }
        span {
            color: $bg-primary;
        }
    }

    ul {
        padding: 0;

        .item {
            &__image {
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 10%;
                }
            }
        }
    }
}