.filterCategory {
  $txt-blue: #3573e2;
  $txt-black: #222222;
  $white: #fff;

  padding-top: 30px !important;
  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 40px;
    color: $txt-blue;
  }
  .filterCategory__list {
    list-style: none;
    margin: 0;
    padding: 0;
    li a {
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: $txt-black;
      margin-bottom: 25px;
      transition: 0.5s;
      &:hover,
      &.active {
        color: $txt-blue;
      }
    }
  }
  .btn-toggle {
    background-color: $txt-blue;
    display: none;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }
  &__dropdown-menu {
    .dropdown-item.is-active {
      background-color: $txt-blue;
      color: $white;
    }
  }
  @media screen and (max-width: 991px) {
    h2,
    .filterCategory__list {
      display: none;
    }
  }
}
