.Login-another {

    .Login-component {
        min-height: 555px;
        background-color: #fdfdfd;
        display: flex;

        .many-hands {
            
            img {
                width: 154%;
            }

            @media (max-width:1440px) {
                img{
                    width: 120%;
                }
            }
        }

        .form-login {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-top: 170px;

            h2 {
                font-family: Roboto;
                font-style: normal;
                font-weight: 900;
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                color: #3573e2;
            }

            .google-login{
                margin-top: 10px;
            }
        }
    }
}