.user-sidebar {
    margin-top: 40px;
    .user__info {
        margin-bottom: 20px;
        .avatar {
            margin-right: 15px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .name {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #3573e2;
        }
    }
    ul {
        padding-left: 25px;
        .item {
            a {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;

                color: #222222;
                &:hover {
                    color: #3573e2;
                }
            }
            i {
                color: #3573e2;
                width: 100%;
                max-width: 35px;
            }
        }
    }
}
