.Linksprofile {
    width: 100%;
    height: 100%;
    background: #e7edf4;
    border: 1px solid #3573e2;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;

    .listLinkProFile {
        display: flex;
        flex-wrap: wrap;
        
        &__item {
            width: 22.65%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 25px;

            .linkItemProfile {
                $txt-blue: #3573e2;
                $txt-black: #222222;
                $white: #fff;
                $btn: #1D1929;
            
                position: relative;
            
                &__img {
                    width: 66.67%;
                    overflow: hidden;
                    margin: 0 auto;
                    border-radius: 4px;
                    margin-bottom: 8px;
            
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                }
                > a {
                    display: block;
                    font-family: Roboto;
                    text-decoration: none;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    transition: 0.5s;
                    color: $txt-black;
            
                    &:hover {
                        color: $txt-blue;
                    }
                }
            
                .dropend .dropdown-toggle::after {
                    display: none;
                }
            
                &__btn {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50% !important;
                    padding: 2px !important;
                    box-shadow: none !important;
                    background-color: transparent !important;
                    color: $white !important;
                    font-size: 20px !important;
                    margin: 2px;
                    margin-right: 5px;
                    transition: 0.5s;
            
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.5) !important;
                    }
            
                    span {
                        text-shadow: 0px 0px 3px $btn !important;
                        color: $btn;
                        transform: rotate(90deg);
                    }
                }
                &__dropdown {
                    position: absolute !important;
                    top: 0;
                    right: 18px;
            
                    &--menu {
                        min-width: initial !important;
                        border-radius: 0px !important;
                        padding: 4px 0 !important;
            
                        > li {
                            border-radius: 0px !important;
                        }
                    }
            
                    @media (max-width: 1440px) {
                        right: 13px;
                    }
                }
                &__link {
                    padding: 8px 10px !important;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    color: $txt-black;
                    
                    i,
                    [class^="icon"] {
                        color: $txt-blue;
                        margin-right: 8px;
                    }
                }
            }            
        }
    }
}
