@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
$white: #ffffff;
.header-login {
    $blue: #3573e2;

    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid $blue;
    top: 0;
    z-index: 1000;
    background-color: $white;
    &__menu {
        width: calc(100% - 80px);
        margin: 0 auto;

        .header__logo {
            a {
                margin-right: 40px;
                img {
                    width: 150%;
                    min-width: 40px;
                }
            }
            h2 {
                font-family: Audiowide;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 76px;
                color: #2196f3;

                @media (max-width: 1600px) {
                    font-size: 52px;
                }
            }
        }
    }
    &__controls {
        button {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: none;
        }
        .btn-login,
        .btn-create-link {
            width: 170px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .btn-notification {
            margin: 0 30px;
            width: 37px;
            font-size: 18px;
            color: #222222;
            background-color: transparent;
            &:focus {
                color: #222222;
                background-color: transparent;
            }
            &:hover {
                color: #222222;
                background-color: #3574e231;
            }
        }

        .userss {
            form {
                .form-detail {
                    .form-group {
                        margin-top: 20px;
                        input {
                            background: #fdfdfd;
                            border: 2px solid #3573e2;
                            box-sizing: border-box;
                            padding-left: 10px;
                            height: 44px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 23px;
                            color: #222222;
                        }
                    }
                }

                .forgot-pass {
                    margin-top: 10px;
                    .checkin {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 23px;
                        color: #f03738;
                    }

                    a {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 23px;
                        color: #3573e2;

                        &:hover {
                            color: #508ffc;
                        }

                        &.link-register {
                            margin-right: 30px;

                            .fa-arrow-right {
                                margin-left: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                button {
                    margin-top: 20px;
                    margin-left: auto;
                    width: 24%;
                    max-width: 253.5px;
                    height: 44px;
                    background: #3573e2;
                    border-radius: 5px;

                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    color: #ffffff;
                    border: none;
                    transition: 0.3s;
                    text-transform: none;
                    // &:hover {
                    //     background-color: transparent;
                    //     border: 2px solid #3573e2;
                    //     transition: 0.3s;
                    //     color: #3573e2;
                    // }
                }
            }

            @media (max-width: 1440px) {
                form {
                    .form-group {
                        input {
                            height: 82px;
                            font-size: 26px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

.Login-form {
    background-color: $white;

    .Login-component {
        height: 100%;
        background-color: #fdfdfd;

        .many-hands {
            position: absolute;
            background-color: #fdfdfd;
            width: 100%;

            img {
                width: 75%;
            }
        }

        .form-login {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            width: 90%;
            
            .title-form{
                margin-top: 200px;
                margin-left: 100px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;             
                h3 {
                
                    font-family: 'Lobster', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 60px;
                    line-height: 61px;
    
                    color: #2196f3;
    
                    &.line-1 {
                        margin-right: 30px;
                    }
                }
            }

            @media (max-width:1440px) {
                .title-form{
                    margin-top: 150px;

                    h3{
                        font-size: 50px;
                        line-height: 51px;
                    }
                }
            }

            @media (max-width:1024px) {
                .title-form{
                    h3{
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}
