@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
$white: #ffffff;
.header-register {
    $blue: #3573e2;

    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid $blue;
    top: 0;
    z-index: 1000;
    background-color: $white;
    &__menu {
        width: calc(100% - 80px);
        margin: 0 auto;

        .header__logo {
            a {
                margin-right: 40px;
                img {
                    width: 150%;
                    min-width: 40px;
                }
            }
            h2 {
                font-family: Audiowide;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 76px;
                color: #2196f3;
                margin-bottom: 0 !important;

                @media (max-width: 1600px) {
                    font-size: 52px;
                }
            }
        }
    }
    &__controls {
        button {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: none;
        }

        // .userss {

        // }
    }
}
.Register-component {
    min-height: 555px;
    background-color: #fdfdfd;
    display: flex;

    .many-hands {
        display: flex;

        img {
            width: 100%;
            position: absolute;
            opacity: 0.4;
        }
    }

    .form-register {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;

        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            color: #3573e2;
        }

        p {
            margin-top: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: rgb(124, 119, 119);

            a {
                color: #3573e2;
                text-decoration: none;
            }
        }

        form {
            margin-top: 20px;
            width: 50.42%;
            max-width: 507px;
            height: 100%;

            .form-group {
                input {
                    background: #fdfdfd;
                    border: 2px solid #3573e2;
                    box-sizing: border-box;
                    border-radius: 15px;
                    height: 66px;
                    padding-left: 30px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 30px;
                    color: #222222;
                }
            }

            .checkin {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: #f03738;
            }

            button {
                margin-left: auto;
                margin-top: 20px;
                width: 50%;
                max-width: 253.5px;
                height: 66px;
                background: #3573e2;
                border-radius: 15px;

                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: #ffffff;
                border: none;
                transition: 0.3s;

                &:hover {
                    background-color: transparent;
                    border: 2px solid #3573e2;
                    transition: 0.3s;
                    color: #3573e2;
                }
            }
        }

        @media (max-width: 1440px) {
            margin-top: 30px;

            p {
                margin-top: 6px;
            }

            form {
                width: 46%;

                .form-group {
                    input {
                        // height: 82px;
                        font-size: 22px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
