$blue: #3573e2;
$white: #ffffff;
.header {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #3574e215;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: $white;
    &__menu {
        width: calc(100% - 80px);
        margin: 0 auto;
    }
    &__search {
        margin-left: 30px;
        position: relative;
        i {
            line-height: 40px;
            position: absolute;
            padding-left: 20px;
            cursor: pointer;
        }
        input {
            padding: 10px 0;
            padding-left: 50px;
            border: 1px solid $blue;
            border-radius: 4px;

            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;

            /* Tone / Dark grey */

            color: #222222;
        }
    }
    &__main-menu {
        li {
            a {
                padding: 30px 50px;
                font-size: 26px;

                color: #222222;
                transition: all 0.25s;
                &.active {
                    color: $blue;
                }
            }
        }
    }
    &__controls {
        .btn-notification {
            margin: 0 10px;

            color: #222222;
        }
        .notification2 {
            margin: 0 10px;
            border: none;
        }
        .user {
            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: contain;
            }
            &__dropdown {
                font-size: 6px;
                margin-left: 10px;
            }
        }
    }
}
