.listCategory {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 25px);
  margin-bottom: calc(-1 * 25px);
  &__item {
    width: calc((100% / 5) - 25px);
    margin-left: 25px;
    margin-bottom: 25px;
  }
}
