section#group-sidebar {
    $bg-primary: #3573E2;
    $bg-gray: #F7F7F7;
    $bg-light-gray:#E7EDF4;
    $text-white: #FFFFFF;
    $text-dark:#000000;

    .box-sd {
        border-radius: 10px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }
    .heading {
        color: #3573E2;
        font-weight: 500;
        font-size: 20px;
    }
    .box-content {
        padding: 0;
        li {
            margin-bottom: 5px;
            font-size: 16px;
            list-style-type: none;
            a {
                text-decoration: none;
                color: $text-dark;
                &:hover {
                    color: $bg-primary;
                }
            }
        }
    }

    .group-box {

    }
    .group-proposal {

    }
}