$bg-primary: #3573E2;
$bg-gray: #F7F7F7;
$bg-light-gray:#E7EDF4;
$text-white: #FFFFFF;
$text-dark:#000000;

.group-sidebar-follow {
    padding-bottom: 35px;

    .box__sidebar__home {
        margin-top: 40px;
        max-width: 280px;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
        color: $bg-primary;
    }

    ul {
        padding: 0;
    }
}